<h2 class="text-white text-3xl font-bold leading-none text-center mb-4 pt-6">
    Job experience
</h2>

<section
    class="flex flex-col items-start justify-center pt-10 mx-auto w-full max-w-3xl"
>
    <div class="ps-2 my-2 first:mt-0">
        <h3
            class="text-xs font-medium uppercase text-gray-500 dark:text-gray-400"
        >
            Now
        </h3>
    </div>

    <div class="flex gap-x-3">
        <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-gray-700"
        >
            <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-gray-400 dark:bg-gray-600">
                </div>
            </div>
        </div>

        <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold text-white dark:text-white">
                Freelance software developer
            </h3>
            <ul
                class="max-w-lg space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
            >
                <li>
                    E-commerce platform development using Woocommerce or
                    Shopify.
                </li>
                <li>
                    Payment gateway integration for your business
                    (Pixelpay/Paypal/Stripe).
                </li>
                <li>Website development.</li>
            </ul>
        </div>
    </div>
    <div class="flex gap-x-3">
        <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-gray-700"
        >
            <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-gray-400 dark:bg-gray-600">
                </div>
            </div>
        </div>

        <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold text-white dark:text-white">
                Socialenials
            </h3>

            <ul
                class="max-w-xl space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
            >
                <li>
                    Development and management of the backend for Lomas Club
                    Deportivo.
                </li>
                <li>Development of stores using Shopify.</li>
            </ul>
        </div>
    </div>
    <div class="flex gap-x-3">
        <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-gray-700"
        >
            <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-gray-400 dark:bg-gray-600">
                </div>
            </div>
        </div>
    </div>

    <div class="ps-2 my-2 first:mt-0">
        <h3
            class="text-xs font-medium uppercase text-gray-500 dark:text-gray-400"
        >
            OCT. 2023 - JAN. 2024 · 4 Months
        </h3>
    </div>

    <div class="flex gap-x-3">
        <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-gray-700"
        >
            <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-gray-400 dark:bg-gray-600">
                </div>
            </div>
        </div>
        <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold text-white dark:text-white">
                ITCA Honduras
            </h3>
            <ul
                class="max-w-xl space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
            >
                <li>
                    Website modifications for the official gboxmall site and
                    backend development using FastAPI.
                </li>
                <li>Backend development for scraping tenders in Honduras.</li>
                <li>
                    Development of an internal tool for processing Excel files
                    with client data for marketing campaigns.
                </li>
            </ul>
        </div>
    </div>
    <div class="ps-2 my-2 first:mt-0">
        <h3
            class="text-xs font-medium uppercase text-gray-500 dark:text-gray-400"
        >
            mar. 2022 - jan. 2023 · 11 Months
        </h3>
    </div>

    <div class="flex gap-x-3">
        <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-gray-700"
        >
            <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-gray-400 dark:bg-gray-600">
                </div>
            </div>
        </div>
        <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold text-white dark:text-white">
                GoHives Technologies
            </h3>
            <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
                Find more detailed insctructions here.
            </p>
            <ul
                class="max-w-xl space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
            >
                <li>Creation of the business-related backend from scratch.</li>
                <li>
                    Design and programming of administrative modules for
                    directors, teachers, and students.
                </li>
                <li>Design and development of the API.</li>
            </ul>
        </div>
    </div>
</section>
